<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq_Jg6Dhbfs3tVsffE1lSGXcinng8_AUw</string>
	<key>GCM_SENDER_ID</key>
	<string>197881816844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qmet.beadsout</string>
	<key>PROJECT_ID</key>
	<string>beads-out-qmet</string>
	<key>STORAGE_BUCKET</key>
	<string>beads-out-qmet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197881816844:ios:88716cd55eb58c30688b29</string>
</dict>
</plist>